{% extends 'modals/base_modal.html' %}

<!--MODAL ID-->
{% block modal-id %}
id="backendModal"
{% endblock modal-id %}


<!--MODAL TITLE-->
{% block modal-title %}Backend Opportunities{% endblock modal-title %}


<!-- block validation-->
{% block validation %}
onsubmit="return validateForm2()"
{% endblock validation %}

<!-- INPUTS ID-->
{% block id-nome %} id='nome2' {% endblock id-nome %}

{% block id-idade %} id='idade2' {% endblock id-idade %}

{% block id-email %} id='email2' {% endblock id-email %}

{% block id-telefone %} id='telefone2' {% endblock id-telefone %}

{% block id-endereco %} id='endereco2' {% endblock id-endereco %}

{% block id-experiencia %} id='experiencia2' {% endblock id-experiencia %}

{% block id-skills %} id='skills2' {% endblock id-skills %}

{% block id-file %} id='file2' {% endblock id-file %}