{% extends 'modals/base_modal.html' %}

<!--MODAL ID-->
{% block modal-id %}
id="datascienceModal"
{% endblock modal-id %}


<!--MODAL TITLE-->
{% block modal-title %}Data Science Opportunities{% endblock modal-title %}



<!-- block validation-->
{% block validation %}
onsubmit="return validateForm4()"
{% endblock validation %}


<!-- INPUTS ID-->
{% block id-nome %} id='nome4' {% endblock id-nome %}

{% block id-idade %} id='idade4' {% endblock id-idade %}

{% block id-email %} id='email4' {% endblock id-email %}

{% block id-telefone %} id='telefone4' {% endblock id-telefone %}

{% block id-endereco %} id='endereco4' {% endblock id-endereco %}

{% block id-experiencia %} id='experiencia4' {% endblock id-experiencia %}

{% block id-skills %} id='skills4' {% endblock id-skills %}

{% block id-file %} id='file4' {% endblock id-file %}