{% extends 'modals/base_modal.html' %}

<!--MODAL ID-->
{% block modal-id %}
id="fullstackModal"
{% endblock modal-id %}


<!--MODAL TITLE-->
{% block modal-title %}Full-stack Opportunities{% endblock modal-title %}


<!-- block validation-->
{% block validation %}
onsubmit="return validationForm3()"
{% endblock validation %}


<!-- INPUTS ID-->
{% block id-nome %} id='nome3' {% endblock id-nome %}

{% block id-idade %} id='idade3' {% endblock id-idade %}

{% block id-email %} id='email3' {% endblock id-email %}

{% block id-telefone %} id='telefone3' {% endblock id-telefone %}

{% block id-endereco %} id='endereco3' {% endblock id-endereco %}

{% block id-experiencia %} id='experiencia3' {% endblock id-experiencia %}

{% block id-skills %} id='skills3' {% endblock id-skills %}

{% block id-file %} id='file3' {% endblock id-file %}